<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.interpia.mapper.EmpMapper">

	<select id="selectListEmp" resultType="map">
		SELECT EMP.EMP_CD,EMP.EMP_NM, EMP.REG_NB, EMP.GENDER, EMP.TECH_LV, EMP.YEAR, WORK.CLIENT
		FROM EMP
		JOIN WORK 
		ON WORK.EMP_CD = EMP.EMP_CD;
	</select>
	
	<select id="selectOneEmp" parameterType="Emp" resultType="Emp">
		SELECT EMP_CD, EMP_ID, KOR_NM, ENG_NM, CHA_NM, REG_NB,
			IMG_NM, IMG_PATH, BIRTH_DT, BIRTH_TP, GENDER, MATRIAL,
			YEAR, SAL_TP, DES_JOB, JOIN_TP, ADDR, ADDR_DTL,
			PHONE, EMAIL, TECHLV, DRINK
		FROM EMP
		WHERE EMP_CD = #{empCd}
	</select>
	
	<insert id="insertEmp" parameterType="Emp">
		INSERT INTO EMP (
			EMP_CD, EMP_ID, EMP_PW, KOR_NM, ENG_NM, CHA_NM,
			REG_NB, IMG_NM, IMG_PATH, BIRTH_DT, BIRTH_TP, GENDER,
			MARTIAL, YEAR, SAL_TP, DES_JOB, JOIN_TP, ADDR, ADDR_DTL,
			PHONE, EMAIL, TECH_LV, DRINK, INSERT_DT, MODIFY_DT
		)
		VALUES (
			#{empCd}, #{empId}, #{empPw}, #{korNm}, #{engNm}, #{chaNm},
			#{regNb}, #{imgNm}, #{imgPath}, #{birthDt}, #{birthTp}, #{gender},
			#{matrial}, #{year}, #{salTp}, #{desJob}, #{joinTp}, #{addr}, #{addrDtl},
			#{phone}, #{email}, #{techLv}, #{drink}, #{insertDt}, #{modifyDt}
		)
	</insert>
	
	<update id="updateEmp" parameterType="Emp">
	    UPDATE EMP SET
	        KOR_NM = #{korNm},
	        ENG_NM = #{engNm},
	        CHA_NM = #{chaNm},
	        REG_NB = #{regNb},
	        IMG_NM = #{imgNm},
	        IMG_PATH = #{imgPath},
	        BIRTH_DT = #{birthDt},
	        BIRTH_TP = #{birthTp},
	        GENDER = #{gender},
	        MARTIAL = #{matrial},
	        YEAR = #{year},
	        SAL_TP = #{salTp},
	        DES_JOB = #{desJob},
	        JOIN_TP = #{joinTp},
	        ADDR = #{addr},
	        ADDR_DTL = #{addrDtl},
	        PHONE = #{phone},
	        EMAIL = #{email},
	        TECH_LV = #{techLv},
	        DRINK = #{drink},
	        MODIFY_DT = #{modifyDt}
	    WHERE EMP_CD = #{empCd}
	</update>

	
	<delete id="deleteEmp" parameterType="Emp">
		DELETE FROM EMP
		WHERE EMP_CD = #{empCd}
	</delete>

</mapper>