<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.interpia.mapper.SkillMapper">
	
	<select id="getCountSkillByEmpCd" parameterType="Skill" resultType="int">
		SELECT COUNT(*)
		FROM SKILL
		WHERE EMP_CD = #{empCd}
	</select>
	
	<insert id="insertSkill">
		INSERT INTO SKILL (
			EMP_CD, SKILL_CD, SKILL_NM, SKILL_PF, INSERT_DT, MODIFY_DT
		)
		VALUES (
			#{empCd}, #{skillCd}, #{skillNm}, #{skillPf}, #{insertDt}, #{modifyDt}
		)
	</insert>
	
	<update id="updateSkill">
	
	</update>

	<delete id="deleteSkill">
		DELETE FROM SKILL
		WHERE EMP_CD = #{empCd}
			AND SKILL_CD = #{skillCd}
	</delete>
	
</mapper>